{% extends 'base.html' %}

{% block content %}
<div class="edit-nav">
    <h2>{{vet.last_name}}, {{vet.first_name}}</h2>
    <a href="/vets/{{vet.id}}/edit">Edit {{vet.first_name}}'s details</a>
    <a class="button-link" href="/appointments/calendar/{{vet.id}}">View {{vet.first_name}}'s diary</a>
</div>


{% if len_pets != 0 %}

    <h3>Pets that {{vet.first_name}} looks after</h3>
    <ul>
        {% for pet in pets %}
        <li><a href="/pets/{{pet.id}}">{{pet.name}}</a>: {{pet.animal_category}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{vet.first_name}} hasn't been allocated any animals</p>

{% endif %}

{% endblock %}

