{% extends 'base.html' %}

{% block content %}

<h2>Appointments schedule</h2>

{% for day in diary %}
    <h3>{{day['date']}}</h3>  
    {% for appointment in day['appointments'] %}
    <div class="diary-entry">
        <p>Time: {{appointment.start_time}}</p>
        <p>Pet: {{appointment.pet.name}}</p>
        <p>Vet: {{appointment.vet.first_name}}, {{appointment.vet.last_name}}</p>
        <a href="/appointments/{{appointment.id}}/edit">Edit appointment time/date</a>
        <form action="/appointments/{{appointment.id}}/delete" method="post">
        <button type="submit">Cancel appointment</button>
        </form>
    </div>
        
    {% endfor %}


{% endfor %}

{% endblock %}
