{% extends 'base.html' %}

{% block content %}

<h3>Appointment for {{appointment.pet.name}} on {{appointment.date}} with {{appointment.vet.first_name}} {{appointment.vet.last_name}}</h3>

{% for day in diary %}
    <h3>{{day['date']}}</h3>  
    {% for appointment in day['appointments'] %}
    <div class="diary-entry">
        <p>Time: {{appointment.start_time}}</p>
        <p>Pet: {{appointment.pet.name}}</p>
        <p>Vet: {{appointment.vet.first_name}}, {{appointment.vet.last_name}}</p>
        <a href="/appointments/{{appointment.id}}/edit">Edit appointment time/date</a>
        <form action="/appointments/{{appointment.id}}/delete" method="post">
        <button type="submit">Cancel appointment</button>
        </form>
    </div>
        
    {% endfor %}


{% endfor %}



<form action="/appointments/confirm/{{appointment.id}}" method="post">
<label for="time">Time:</label>
<input type="number" name="time">
<textarea name="notes"cols="30" rows="10"></textarea>
<button type="submit">Confirm appointment</button>
</form>


{% endblock %}
