body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
}

header {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

header > nav {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
header > h1 {
    margin-left: 300px;
}

header > a:link, header > a:visited {
    color: white;
    text-decoration: none;
}




main {
    margin-left: 50px;
       
}

.home-section {
    border-style: solid;
    border-color: black;
    margin: 30px;
    padding-left: 20px;
    padding-bottom: 15px;
}

main > section > nav {
    display: flex;
    justify-content: space-around;
}

/* Customer pages  */
.alpha {
    display: flex;
    justify-content: space-evenly;
}

.edit-nav {
    display: flex;
    align-items: center;
}

.edit-nav > a {
   
   
    margin-left: 0.83em;

}

.customer-pets {
    margin: 20px;
    
}

.customer-pet > a {
    margin: 20px;
}

.customer-pet {
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
}

.button-link {
    text-decoration: none;
    color: black;
    border-color: black;
    border-style: solid;
    padding: 5px;
    
}

.list-of-pets {
    margin-bottom: 50px;
}


.pet-link {
    align-self: center;
}

.pet-list {
    padding-top: 20px;
}

.home-section > nav > a {
    font-size: x-large;
}

/* pet pages  */

.new-pet-form > div > input {
    margin-left: 20px;
}
.new-pet-form > div > select {
    margin-left: 20px;
}

/* vets pages */

.vet-list {
    margin-bottom: 30px;
}

.vet {
    display: flex;
    align-items: center;
}

.vet > * {
    margin-right: 10px;
}

#add-vet-button {
    background-color: lightblue;
}

/* # appointment pages */
.diary-entry {
    display: flex;
    border-color: black;
    border-style: solid;
    margin: 10px;
    align-items: center;
}

.diary-entry > * {
    margin: 15px;
}

/* customer pages  */

.new-customer > div {
    margin: 15px;;
}

.form-item {
    margin: 10px;
}

.pet {
    display: grid;
    grid-template-columns: 100px 150px 200px 300px 200px 200px;
    border-color: darkgray;
    border-style: solid;
   
}

.pet > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pet-name {
    padding-left: 20px;
    
}


.add-pet {
    font-size: xx-large;
    
}

.no-vet {
    font-size: large;
    color: red;
    font-weight: bolder;
    padding-left: 10px;
}



footer {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    margin-top: 50px;
}

footer > p, footer > h3 {
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.home-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}




