body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
}

header {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

header > nav {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
header > h1 {
    margin-left: 300px;
}

header > a:link, a:visited {
    color: white;
}

main > a:link, a:visited {
    color: black;
}



main {
    margin-left: 50px;
    
}

.home-options {
    display: flex;
    justify-content: space-around;
}

.home-options {
    
}

.pet-list {
    padding-top: 20px;
}

.pet {
    display: grid;
    grid-template-columns: 150px 200px 300px 200px 200px;
    border-color: darkgray;
    border-style: solid;
   
}

.pet > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pet-name {
    padding-left: 20px;
    
}


.add-pet {
    font-size: xx-large;
    
}



footer {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
}

footer > p, footer > h3 {
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}




