{% extends 'base.html' %}

{% block content %}



<h2>Pets registered here</h2>

<a class = "add-pet" href="/pets/new">Add new pet</a>

<h2>See only:</h2>
<ul>
    <li>
        <a href="/pets/dogs">Dogs</a>
    </li>
    <li>
        <a href="/pets/cats">Cats</a>
    </li>
    <li>
        <a href="/pets/small-animals">Small animals</a>
    </li>
</ul>

<section class="pet-list">
    {% for pet in pets %}
    <section class = "pet">
        <h4><a href="/pets/{{pet.id}}">{{pet.name}}</a></h4>
        <h4>Type: {{pet.animal_category}}</h4>
        <h4>Owner: <a href="/owners/{{pet.owner.id}}">{{pet.owner.last_name}}, {{pet.owner.first_name}}</a></h4>
        <h4>Vet: <a href="/vets/{{pet.vet.id}}">{{pet.vet.last_name}}, {{pet.vet.first_name}}</a></h4>
        <form action="/pets/{{pet.id}}/delete" method="post">
            <button type="submit">delete {{pet.name}}</button>
        </form>
    </section>
    
    {% endfor %}

</section>




{% endblock %}
