{% extends 'base.html' %}

{% block content %}


<form action="/pets/new" method="post">

    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="dob">DOB</label>
    <input type="date" name="dob">
    <label for="animal_category">Animal category</label>
    <input type="text" name = "animal_category">

    <label for="owner_id">Owner</label>
    <select name="owner_id">Owner
        {% for owner in owners %}
        <option value="{{owner.id}}">{{owner.last_name}}, {{owner.first_name}}</option>
        {% endfor %}
    </select>

    <label for="vet_id">Vet</label>
    <select name="vet_id">
        {% for vet in vets %}
        <option value="{{vet.id}}">{{vet.last_name}}, {{vet.first_name}}</option>
        {% endfor %}
    </select>


    <button type="submit">Add pet</button>

</form>

new pet page

{% endblock %}
