{% extends 'base.html' %}

{% block content %}

{% if owner_known %}
<h2>New pet for {{owner.first_name}} {{owner.last_name}}</h2>
{% else %}
<h2>New pet</h2>
{% endif %}

<form class="new-pet-form" action="/pets/new" method="post">
<div class="form-item">
    <label for="name">Name</label>
    <input type="text" name="name">
</div>
<div class="form-item">
    <label for="dob">DOB</label>
    <input type="date" name="dob">
</div>
<div class="form-item">
    <label for="animal_category">Animal category</label>
    <input type="text" name = "animal_category">
</div>
<div class="form-item">
    {% if owner_known %}
   
    <h4>Owner: {{owner.first_name}} {{owner.last_name}}</h4>
    <input type="hidden" value = {{owner_id}} name = "owner_id">

    {% else %}
    <label for="owner_id">Owner</label>
    <select name="owner_id">Owner
        {% for owner in owners %}
        <option value="{{owner.id}}">{{owner.last_name}}, {{owner.first_name}}</option>
        {% endfor %}
    {% endif %}
    </select>
</div>
<div class="form-item">
    <label for="vet_id">Vet</label>
    <select name="vet_id">
        {% for vet in vets %}
        <option value="{{vet.id}}">{{vet.last_name}}, {{vet.first_name}}</option>
        {% endfor %}
    </select>
</div>
    
    
    

   
    

    


    <button type="submit">Add pet</button>

</form>


{% endblock %}
