<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vets- homepage</title>
</head>
<body>
    <header>
        <nav>Hold for nav bar</nav>
        <h1>Vet sugery's name</h1>
    </header>
    
        {% block content %}
        {% endblock %}

    <footer>
        <p>vet's contact details</p>
        <p>vet's contact details</p>
    </footer>
</body>
</html>