{% extends 'base.html' %}


{% block content %}

<section class="manage-appointments home-section">
    <h2>Manage appointments</h2>
    <nav>
    <a href="/owners">Search customers to book</a>
    <a href="/appointments/calendar">View all appointments</a>
    </nav>

</section>

<section class="manage-vets home-section">
    <h2>Manage vets</h2>
    <nav>
    <a href="/vets">View/edit vets</a>
    <a href="/vets/new">Add new vet</a>
    </nav>
</section>

<section class="manage-customers home-section">
    <h2>Manage customer database</h2>
    <nav>
    <a href="/owners">View/edit customer details</a>
    <a href="/owners/new">Add new customer</a>
    </nav>
</section>

<section class="manage-pets home-section">
    <h2>Manage pet database</h2>
    <nav>
    <a href="/pets">View/edit pet details</a>
    <a href="/pets/new">Add new pet</a>
    </nav>
</section>




{% endblock %}
