{% extends 'base.html' %}


{% block content %}
<div class="owner-edit-nav">
    <h2>{{owner.first_name}} {{owner.last_name}}</h2>
    <a href="/owners/{{owner.id}}/edit">Edit {{owner.first_name}}'s deatils</a>
</div>

<p>Telephone: {{owner.telephone}}</p>
<p>Address: {{owner.address}}</p>
<div class="list-of-pets">
    <h3>Pets:</h3>

 
        <ul class="customer-pets">
            {% for pet in pets %}
            <li class = "customer-pet">
                <a class = "pet-link" href="/pets/{{pet.id}}">{{pet.name}}</a>
                <a class="button-link" href="/appointments/new/{{pet.id}}">Book an appointment for {{pet.name}}</a>
                
            </li>
            {% endfor %}
        </ul>
        
  
    
</div>

<a class="button-link" href="/pets/new">Add a new pet for {{owner.first_name}}</a>
    




{% endblock %}
